<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <div id="topo" style="text-align: center" >
    	<h4>api youtube</h4>
    	<p>/buscar</p>
    	<p>post form data</p>
    	<p>key = texto, value = texto a ser buscado</p>
    	<p>key = num, value = numero de resultados</p>
        
    </div>
</body>

</html>